html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.prev-btn, .next-btn{
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.prev-btn.disabled, .next-btn.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.page-numbers{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.page-numbers a, .page-numbers span{
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
}

.page-numbers a.active{
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
}

.page-numbers span{
    padding: 5px 10px;
    color: #333;
}